<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-head">Catalog</h2>
    <div class="catalog-div-center">
      <ul class="catalog-list">

        <li class="catalog-item">
          <div class="catalog-img-container">
            <picture>
              <source srcset="
           ../img/fenix-7.png 1x,
           ../img/fenix-7-2x-min.png  2x
         " media="(min-width: 1280px)">
              <source srcset="
         ../img/tab/fenix-7-tab-min.png 1x,
         ../img/tab/fenix-7-tab-2x-min.png  2x
         " media="(min-width: 768px)">
              <source srcset="
         ../img/mob/fenix-7-mob-min.png 1x,
         ../img/mob/fenix-7-mob-2x-min.png  2x
         " media="(max-width: 375px)">
              <img class="catalog-img" src="../img/mob/fenix-7-mob-min.png" alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="279">
            </picture>
          </div>
          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Garmin Fenix 7X Pro Sapphire Solar </h3>
            <p class="catalog-text">€500</p>
          </div>
        </li>



        <li class="catalog-item">

          <div class="catalog-img-container">
            <picture>
              <source srcset="
                 ../img/marq.png 1x,
                 ../img/mark-2x-min.png  2x
               " media="(min-width: 1280px)">
              <source srcset="
               ../img/tab/mark-tab-min.png 1x,
               ../img/tab/mark-tab-2x-min.png  2x
               " media="(min-width: 768px)">
              <source srcset="
               ../img/mob/mark-mob-min.png 1x,
               ../img/mob/mark-mob-2x-min.png  2x
               " media="(max-width: 375px)">
              <img class="catalog-img" src="../img/mob/mark-mob-min.png" alt="Garmin Marq Athlete" width="279">
            </picture>
          </div>

          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Garmin Marq Athlete </h3>
            <p class="catalog-text">€450</p>
          </div>
        </li>



        <li class="catalog-item">
          <div class="catalog-img-container">
            <picture>
              <source srcset="
               ../img/mk1.png 1x,
               ../img/mk1-2x-min.png  2x
             " media="(min-width: 1280px)">
              <source srcset="
             ../img/tab/mk1-tab-min.png 1x,
             ../img/tab/mk1-tab-2x-min.png  2x
             " media="(min-width: 768px)">
              <source srcset="
             ../img/mob/mk1-mob-2x-min.png 1x,
             ../img/mob/mk1-mob-min.png  2x
             " media="(max-width: 375px)">
              <img class="catalog-img" src="../img/mob/mk1-mob-min.png" alt="Garmin Descent MK1" width="279">
            </picture>
          </div>
          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Garmin Descent MK1 </h3>
            <p class="catalog-text">€680</p>
          </div>
        </li>



        <li class="catalog-item">
          <div class="catalog-img-container">
            <picture>
              <source srcset="
                 ../img/d2.png 1x,
                 ../img/d2-2x-min.png  2x
               " media="(min-width: 1158px)">
              <source srcset="
               ../img/tab/d2-tab-min.png 1x,
               ../img/tab/d2-tab-2x-min.png  2x
               " media="(min-width: 768px)">
              <source srcset="
               ../img/mob/d2-mob-min.png 1x,
               ../img/mob/d2-mob-2x-min.png  2x
               " media="(max-width: 375px)">
              <img class="catalog-img" src="../img/mob/d2-mob-min.png" alt="Garmin D2 Delta PX" width="279">
            </picture>
          </div>
          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Garmin D2 Delta PX</h3>
            <p class="catalog-text">€380</p>
          </div>
        </li>



        <li class="catalog-item">
          <div class=" container catalog-img-container">
            <picture>
              <source srcset="
                 ../img/fenix-6.png 1x,
                 ../img/fenix-6-2x-min.png  2x
               " media="(min-width: 1158px)">
              <source srcset="
               ../img/tab/fenix-6-tab-min.png 1x,
               ../img/tab/fenix-6-tab-2x-min.png  2x
               " media="(min-width: 768px)">
              <img class="catalog-img" src="../img/tab/fenix-6-tab-min.png" alt="Garmin Fenix 6 Pro Solar" width="280">
            </picture>
          </div>
          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-text">€400</p>
          </div>
        </li>



        <li class="catalog-item">
          <div class="catalog-img-container">
            <picture>
              <source srcset="
                 ../img/s42.png 1x,
                 ../img/s42-2x-min.png  2x
               " media="(min-width: 1158px)">
              <source srcset="
               ../img/tab/s42-tab-min.png 1x,
               ../img/tab/s42-tab-2x-min.png  2x
               " media="(min-width: 768px)">
              <img class="catalog-img" src="../img/tab/s42-tab-min.png" alt="Tube Watch S42 Date Steel With Black Case"
                width="280">
            </picture>
          </div>
          <div class="catalog-item-container">
            <h3 class="catalog-item-head">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="catalog-text">€395</p>
          </div>
        </li>

      </ul>
      <button type="button" class="catalog-button">Show more</button>
    </div>

  </div>
</section>