<section class="hero" id="hero">
  <div class="container hero-content">
    <div class="hero-container-content">
      <div class="hero-text">
        <h1 class="hero-text-title">
          Welcome to our <span class="hero-title-word">collection</span> of
          premium watches
        </h1>
        <p class="hero-text-container">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-team-ref">
        <div class="hero-list-container">
          <img
            srcset="/img/Victoria.webp 1x, /img/Victoria-2x.webp 2x"
            src="/img/Victoria.webp"
            alt="phoro_Victoria"
            class="hero-list-image photo-victoria"
          />
          <img
            srcset="/img/John.webp 1x, /img/John-2x.webp 2x"
            src="/img/John.webp"
            alt="photo_John"
            class="hero-list-image photo-john"
          />
          <img
            srcset="/img/Anastasia.webp 1x, /img/Anastasia-2x.webp 2x"
            src="/img/Anastasia.webp"
            alt="photo_Anastacia"
            class="hero-list-image photo-anastacia"
          />
        </div>
        <div class="hero-ref-container">
          <a class="hero-ref-item" href="/#footer">Scroll down</a>
        </div>
      </div>
    </div>
    <picture class="hero-img">
      <source
        srcset="/img/hero.webp 1x, /img/hero-2x.webp 2x"
        media="(min-width: 1280px)" />
      <source
        srcset="/img/tab/hero.webp 1x, /img/tab/hero-2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        srcset="/img/mob/hero.webp 1x, /img/mob/hero-2x.webp 2x"
        media="(max-width: 767px)" />
      <img src="/img/hero.webp" alt="hero-image" class="hero-img-content"
    /></picture>
  </div>
</section>
