<section class="hero" id="hero">
  <div class="container hero">
    <div class="">
      <h1 class="hero-title-text">
        Welcome to our <span class="hero-title-word">collection</span> of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-team-ref">
      <ul class="hero-list">
        <li><img src="../img/Victoria.png" alt="phoro_Victoria" /></li>
        <li><img src="../img/John.png" alt="photo_John" /></li>
        <li><img src="../img/Anastasia.png" alt="photo_Anastacia" /></li>
      </ul>
      <a href="../index.html#footer">Scroll down</a>
    </div>
    <img src="../img/hero.jpg" alt="hero-image" class="hero-img" />
  </div>
</section>
