<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-whole-block">
      <div class="sale-photo-block">
        <div class="sale-list">
          <ul class="sale-ul">
            <li class="sale-item">
              <picture class="sale-picture">
                <!-- Mobile version -->
                <source
                  srcset="
                    /img/mob/sale-mob-1.webp   1x,
                    /img/mob/sale-mob-1x2.webp 2x
                  "
                  media="(max-width: 767px)"
                />

                <!-- Tablet and desktop version -->
                <source
                  srcset="
                    /img/tab/sale-tab-1.webp   1x,
                    /img/tab/sale-tab-1x2.webp 2x
                  "
                  media="(min-width: 768px)"
                />

                <!-- Default fallback image -->
                <img src="/img/tab/sale-tab-1.webp" alt="Watch front view" />
              </picture>
            </li>
            <li class="sale-item">
              <picture class="sale-picture">
                <!-- Mobile version -->
                <source
                  srcset="
                    /img/mob/sale-mob-2.webp   1x,
                    /img/mob/sale-mob-2x2.webp 2x
                  "
                  media="(max-width: 767px)"
                />

                <!-- Tablet and desktop version -->
                <source
                  srcset="
                    /img/tab/sale-tab-2.webp   1x,
                    /img/tab/sale-tab-2x2.webp 2x
                  "
                  media="(min-width: 768px)"
                />

                <!-- Default fallback image -->
                <img src="/img/tab/sale-tab-2.webp" alt="Watch front view" />
              </picture>
            </li>
            <li class="sale-item">
              <picture class="sale-picture">
                <!-- Mobile version -->
                <source
                  srcset="
                    /img/mob/sale-mob-3.webp   1x,
                    /img/mob/sale-mob-3x2.webp 2x
                  "
                  media="(max-width: 767px)"
                />

                <!-- Tablet and desktop version -->
                <source
                  srcset="
                    /img/tab/sale-tab-3.webp   1x,
                    /img/tab/sale-tab-3x2.webp 2x
                  "
                  media="(min-width: 768px)"
                />

                <!-- Default fallback image -->
                <img src="/img/tab/sale-tab-3.webp" alt="Watch front view" />
              </picture>
            </li>
            <li class="sale-item">
              <picture class="sale-picture">
                <!-- Mobile version -->
                <source
                  srcset="
                    /img/mob/sale-mob-4.webp   1x,
                    /img/mob/sale-mob-4x2.webp 2x
                  "
                  media="(max-width: 767px)"
                />

                <!-- Tablet and desktop version -->
                <source
                  srcset="
                    /img/tab/sale-tab-4.webp   1x,
                    /img/tab/sale-tab-4x2.webp 2x
                  "
                  media="(min-width: 768px)"
                />

                <!-- Default fallback image -->
                <img src="/img/tab/sale-tab-4.webp" alt="Watch front view" />
              </picture>
            </li>
          </ul>
        </div>
        <div class="sale-content-picture">
          <picture class="sale-picture">
            <!-- Mobile version -->
            <source
              srcset="
                /img/mob/sale-main-mob.webp   1x,
                /img/mob/sale-main-mobx2.webp 2x
              "
              media="(max-width: 767px)"
            />

            <!-- Tablet and desktop version -->
            <source
              srcset="
                /img/tab/sale-tab-main.webp   1x,
                /img/tab/sale-tab-mainx2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- Default fallback image -->
            <img src="/img/tab/sale-tab-main.webp" alt="Watch front view" />
          </picture>
        </div>
      </div>
      <div class="sale-text-block">
        <div class="sale-text-block-title">
          <p class="block-title">MARQ® Commander (Gen 2) - Carbon Edition</p>
          <p class="product-tag">Product tag: 706587</p>
        </div>
        <div class="sale-price">
          <p class="new-price">€1500</p>
          <p class="old-price">€3000</p>
        </div>
        <p class="sale-paragraph">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="sale-last-block">
          <ul class="sale-ul-block">
            <li class="sale-li-block">Fused carbon fiber</li>
            <li class="sale-li-block">Grade-5 Titanuim</li>
            <li class="sale-li-block">Athlete</li>
            <li class="sale-li-block">Golfer</li>
            <li class="sale-li-block">Commander</li>
            <li class="sale-li-block">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
