.advert {
  background-color: #0c0c0c;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.8),
      rgba(12, 12, 12, 0.8)
    ),
    url(/img/mob/advert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .advert {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/img/mob/advert-2x.jpg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advert-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 60px 28px 28px;
  margin: 0;
}

.part-text {
  color: rgba(251, 251, 251, 0.5);
}

.advert-btn {
  max-width: 160px;
  max-height: 48px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  color: #fbfbfb;
  padding: 15px 43px 15px 44px;
  margin-left: 28px;
  margin-bottom: 60px;
}

.advert-btn:hover,
.advert-btn:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

@media (min-width: 320px) and (max-width: 374px) {
  .advert {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .advert {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/img/tab/advert.jpg);
    max-width: 704px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .advert {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(/img/tab/advert-2x.jpg);
    }
  }

  .advert-text {
    font-size: 48px;
    line-height: 0.92;
    padding: 80px 64px 32px;
  }

  .advert-btn {
    margin-left: 64px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .advert {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/img/advert.jpg);
    max-width: 1150px;
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .advert {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(/img/advert-2x.jpg);
    }
  }

  .container-advert {
    display: flex;
  }

  .advert-text {
    max-width: 690px;
    font-size: 48px;
    line-height: 0.92;
    padding: 83px 140px 83px 80px;
  }

  .advert-btn {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
