*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-contact {
  padding: 30px 20px;
  margin: 0 auto;
}

.contact-us-title {
  margin-bottom: 24px;
  font-size: 32px;
}

.form-container {
  max-width: 335px;
  height: 512px;
  border-radius: 30px;
  padding: 48px 28px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.form-title {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.29;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 28px;
}

.form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;

  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 12px;
  height: 42px;
  max-width: 100%;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;

  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  height: 84px;
  max-width: 100%;
  resize: none;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: #3350e9;
}

.form-button {
  border: none;
  border-radius: 16px;
  width: 134px;
  height: 42px;
  background-color: #3350e9;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #1f3cd4;
}

/* MEDIA*/

@media screen and (min-width: 768px) {
  .container-contact {
    padding: 40px 32px;
  }

  .contact-us-title {
    font-size: 48px;
    line-height: 0.92;

    margin-bottom: 40px;
  }

  .form-container {
    max-width: 704px;
    height: 556px;
    padding: 50px 122px;
    margin-bottom: 40px;
  }

  .form-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .form-input {
    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(12, 12, 12, 0.15);
    padding-left: 16px;
    height: 52px;
  }

  .form-textarea {
    font-size: 16px;
    line-height: 1.25;

    padding: 16px;
    height: 90px;
    max-width: 100%;
  }

  .form-input::placeholder,
  .form-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .input-box {
    margin-bottom: 32px;
  }

  .form-button {
    width: 160px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .container-contact {
    padding: 100px 65px;
  }

  .form-container {
    max-width: 580px;
    height: 556px;
    padding: 50px 60px;
    margin: 0;
  }

  .contact-us-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contact-us-img {
    max-width: 530px;
  }
}
